@font-face {
  font-family: "PT Sans";
  src: url(/fonts/ptsans-400.woff2);
}

/*sticky footer */
html {
  height: 100%;
}

a {
  display: block;
}
ul, li, a, h1,h2,h3, image, dl, dd {
  margin: 0px;
  padding: 0px;
}

.main-catalog {
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  font-size: medium;
  min-height: 100%; /* блок заполнил полностью всё содержимое браузера*/
  font-family: "PT Sans", sans-serif;
  color: #000000;
  text-align: center;
  /*background: darkgrey;*/
  /*outline-offset: -5px;*/
}

a {
  text-decoration: none;
  color: #000000;

}

a:hover {
  text-decoration: underline;
}

.main-index {
  flex-grow: 1;
}

/*navigation*/
.header-menu {
  display: flex;
  width: 1200px; /* ширина блока */
  margin: 0 auto; /* отцентровка блока */

}

/*Header*/
.div-logo {
  width: 139px;
  padding: 0;
  margin-left: 70px;
  margin-right: 30px;
  /*margin-bottom: -5px;*/
  /*background: #7DB54F;*/
}

.div-index-big-image {
  background-image: url("../images/index-background.jpg");
  width: 100%;
  height: 485px;

}

.index-image-welcome {
  margin: 51px 371px 25px 371px;
}

.white-line {
  background-image: url("../images/white-devider.png");
  width: 100%;
  height: 57px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  width: 390px;
  padding: 0;
  margin-top: 0;
  margin-left: 30px;
  margin-right: 237px;
  list-style-type: none; /*убираем точки */
  /*background: coral;*/


}

.menu-user {
  width: 264px;
  padding: 0;
  list-style-type: none; /*убираем точки */
}

.menu-list-item {
  font-style: normal;
  margin: 20px; /* верхний правый нижний левый */
  display: block; /*меняем модель на блочную */
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  /*text-align: left;*/
}

.menu-link {
  font-style: normal;
  /*padding: 20px 62px 20px 17px; !* верхний правый нижний левый *!*/
  display: block; /*меняем модель на блочную */
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  /*text-align: left;*/

}

/*Main*/
.main-container {
  width: 1200px;
  margin: 0 auto;
}

/*Advantages*/
/*Добавим флекс, и разнесём блоки по сторонам родительского блока.*/
.city-advantage {
  display: flex;
  width: 1200px;
  list-style-type: none;
  margin: 0;
  /*background: coral;*/
}

.icon-house {

  width: 75px;
  height: 72px;
  align-items: center;
}


.div-cityadvantage-house {
  display: flex;
  flex-direction: column;
  width: 230px;
  /*height: 223px;*/
  background-image: url("../images/icon=home.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 102px;
  margin: 80px 85px;

}

.food {
  background-image: url("../images/icon=food.png");

}

.useful-info{
  margin-bottom: 46px;
}

.souvenirs {
  background-image: url("../images/icon=souvenir.png");
}



/*.city-advantage-item {*/
/*  margin: 80px 85px;*/
/*}*/
/*прописать расположение текста в блоке */
/*.div-cityadvantage-text {*/

/* pa: 80px 85px;*/
/*  !*background: rgba(131, 179, 211, 0.12);*!*/
/*}*/

.div-advantage-light-blue-square {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  /*padding: 80px 85px;*/
}


div-advantage-light-white-square {
  background-color: #FFFFFF;
  width: 400px;
}

.block-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  /*margin: 63px 290px 31px 290px;*/
  /*background: #7DB54F;*/
}

.block-title {
  margin-top: 88px;
  margin-bottom: 29px;


}

/*.block-paragraph {*/
/*  margin-left: 273px;*/
/*  margin-right: 273px;*/
/*}*/

.block-title-w {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;

}

.block-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 56px;
  /*background: #7DB54F;*/
}

.block-paragraph-w {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;

}

.advantages-list-title-w {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;

}


.advantages-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-list-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  /*margin: 102px;*/
}



.advantages-list-description-black {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0px;
}

.advantages-list-description-w {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.sedona-advantage1 {
  display: flex;
  justify-content: center;
  width: 1200px;
}

.div-advantage-blue-square {
  background: #82B3D3;
  width: 400px;
}

.advantages-list1 {

  margin: 92px 85px;
}

.advantage-list345 {
  display: flex;
  justify-content: space-between;

}

.advantages-list-description-black {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantage-list345-box {
  background: #f0f6fa;
  width: 400px;
  padding: 103px 85px;

}

.blue {
  background: #e6f0f6;
}

.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-top: 45px;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  width: 200px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
  margin: 0px ;
  padding: 0;
  border: 0px;

}


.placeholder {
  width: 600px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  margin: 0;
  padding: 0;
  border: #FFFFFF;
  border-spacing: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-left: 22px;

}



.form-subscrube {
  display: flex;



}

.label-subscribe{
  align-items: center;
  margin-left: 100px;
}
.subscribe {
  /*width: 1200px;*/
  /*height: 411px;*/
  background-image: url("../images/background_footer_subscribe.jpg");
  padding: 94px;
  background-repeat: no-repeat;
}

/*.subscribe-catalog{*/

/*}*/
.subscribe-mail {
  margin-bottom: 29px;
  margin-top: 0;
}
.
.div-text-subscribe {
  display: flex;
  align-items: center;
}

.

.search-button  {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  background: #756157;
  width: 574px;
  height: 60px;
  /*margin: 0px auto;*/

  /*margin-left: 313px;*/
  /*margin-right: 313px;*/
  /*text-align: center;*/
  /*padding-top: 12px;*/
  /*padding-bottom: 12px;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*text-align: center;*/
}

.div-search-button {

  margin-bottom: 96px;

}

/*.section-interested {*/
/*  padding-bottom: 92px;*/
/*}*/

/*Catalog extra*/

.main-catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  /*justify-content: left;*/
  text-align: left;
  margin-bottom: 10px;

}

.nav-breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  background: #82B3D3;
  display: flex;
  flex-direction: row;
}

.nav-link {
  background-image: url("../images/home-page-breadcrumb-nav.png");
  width: 12px;
  height: 100%;
  background-repeat: no-repeat;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.filter {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;

}

.sedona-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  width: 160px;
  height: 48px;
  border-radius: 10px 10px 10px 10px;
  margin: 0px;
  padding: 0;
  border: 0px;
  margin-bottom: 20px;
}

.sedona-button-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: transparent;
  margin: 0px;
  padding: 0;
  border: 0px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-select {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-right: 78px;
}



.hotel-card-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}

/*.hotel-card-img {*/
/*  align-self: stretch;*/

/*}*/

.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.hotel-type {
  text-align: left;
  width: 140px;
  margin-right: 20px;

}

.hotel-price-value {
  padding-left: 0;
}

.button-favourite,
.buttom-info {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.button-favourite {
  background: #7DB54F;
  width: 140px;
  height: 37px;

}

.button-info {
  background: #756157;
  width: 140px;
  height: 37px;
  margin-right: 20px;

}

.div-hotel-button {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.div-stars-rate {
  display: flex;
  flex-direction: row;

}

.div-rate-number{
  width: 140px;
  height: 37px;
  background: #F2F2F2;
}

/*.stars {*/
/*  background-image: url("../images/star.png");*/
/*  width: 18px;*/
/*  height: 17px;*/
/*  !*background-repeat: repeat4;*!*/
/*}*/

.rate-img-stars {
  /*background-image: url("../images/star.png")*/
  background: #82B3D3;
  width: 140px;
  height: 37px;
  margin-right: 20px;
}

.rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}


.hotel-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.page-footer {
  display: flex;
  justify-content: center;
  background: blue;
  width: 1200px;
  height: 120px;
  margin: 0px auto;
  justify-content: space-between;
}

/*.socialmedia {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  background: blue;*/
/*}*/

.catalog-filter {
  display: flex;
  justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;


}

.nav-breadcrumbs {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
margin:0px;
  list-style-type: none;


}

.nav-sign {
  background-image: url("../images/breadcrumbnav.png");
  width: 5px;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  background-repeat: no-repeat;
}

.nav-breadcrumbs-hotel {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-hotels-filter {
  display: flex;
  flex-direction: row;
 align-items: flex-start;
  margin-right: 176px;
margin-top: 40px;
}

.hotels-found {
  /*display: flex;*/
  /*justify-content: center;*/
  width: 1200px;
  margin: 0px auto;

}

.h-hotels-found {
  margin-right: 191px;
}

.div-hotels-found {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 50px 71px 56px 71px;
}

/*.h-hotels-found{*/
/*  margin-left: 0;*/
/*}*/
.hotel-select {
  width: 287px;
  height: 48px;
  justify-content: space-between;
}

.hotel-list {
  display: flex;
  margin: 0 auto;
  justify-content: left;
  flex-wrap: wrap;
  width: 1200px;


}

.filter-icons {
  display: flex;
  flex-direction: row;

}

.filter-icons-cards {
  background-image: url("../images/icon-card.png");
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.filter-icons-tape{
  background-image: url("../images/icon-tape.png");
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.filter-icons-list {
  background-image: url("../images/icon-list.png");
  width: 48px;
  height: 48px;


}
.hotel-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  list-style-type: none; /*убираем точки */
  margin-right: 18px;
}

.hotels-on-page {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 1056px;
}

.page-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 370px;
  list-style-type: none; /*убираем точки */

}

.page-number-item {
  width: 55px;
  background: #82B3D3;
  justify-content: space-between;
  display: flex;
  width: 60px;
  height: 60px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 5px 5px 5px 5px;
  margin: 0px ;
  padding: 0;
  border: 0px;

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.socialmedia-list  {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none; /*удаляем точки*/
  background: #7DB54F;
  width: 116px;
  margin-left: 72px ;
  margin-top: 49px;
  margin-bottom: 54px;
  margin-right: 247px;
  background-image: url("../images/vk.png");
  background-repeat: no-repeat;
  background-image: url("../images/telega.png");
}

.socialmedia-item {
  background: #756157;
  width: 20px;
}

.html-logo {
  margin-left: 247px;
  margin-top: 43px;
  margin-bottom: 43px;
  margin-right: 72px ;
}

/*discord answer */
/*.footer-social-link {*/
/*  display: block;*/
/*  width: 56px;*/
/*  height: 44px;*/
/*  background-color: #000000;*/
/*  background-repeat: no-repeat;*/
/*  background-position: center;*/
/*  background-size: 16px 16px;*/
/*}*/

/*.footer-social-tw {*/
/*  background-image: url("images/social-tw.svg");*/
/*}*/


/*Catalog*/

.div-catalog-bg {
  background-image: url("../images/catalog-background.png");
  width: 1200px;
  height: 393px;
  margin: 0px auto;
}

.div-catalog-all-filters {

  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0px;



}

.div-filter-buttons {
  /*width: 160px;*/
  /*height: 88px;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.div-filter-price {
  background: #82B3D3;
  width: 288px;
  height: 148px;
  margin-right: 70px;
  margin-top: 40px;
}
